<html>
<head>
    {% load static %}
    <title>UrodzinyDziecka</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="bar">
        <h1>Witaj na stronie UrodzinyDziecka.pl!</h1>
    </div>
    <div class="navbar">

        <a href="/">
            <div class="navbar-elem">
                Lista Ofert
            </div>
        </a>
        {% if user.is_authenticated %}
        <a href="/add_new_offer">
            <div class="navbar-elem">
                Dodaj Oferte
            </div>
        </a>
        <a href="/conversations">
            <div class="navbar-elem">
                Wiadomości
            </div>
        </a>
        {% endif %}
        
        <a href="/register">
            <div class="navbar-elem">
                Rejestracja
            </div>
        </a>

        {% if user.is_authenticated %}
        <a href="/logout">
            <div class="navbar-elem">
                Wyloguj
            </div>
        </a>
        {% else %}
        <a href="/login">
            <div class="navbar-elem">
                Logowanie
            </div>
        </a>
        {% endif %}
    </div>

    <div class="register-section">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>